*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 60px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: rgba(177, 177, 177, 0.194);
}

nav li {
    display: flex;
    align-items: center;
}

nav button {
    height: clamp(30px, 80%, 45px);
    border-radius: 7px;
    border: 0px;
    background-color: rgba(93, 93, 93, 1.0);
    margin: 0 30px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}

nav li:first-child {
    margin-right: auto;
}

.wrapper { /* Used to center everything */
    display:flex;
    justify-content: center;
}

.main-container {
    border: 1px black solid;
    display: flex;
    width: 70vw;
}

#container-space {
    border: 1px black solid;
    width: 70%;
    display: flex;
    flex-direction: column;
}

#schedule-space {
    border: 1px red solid;
    height: 700px;
    width: 30%;
}

.container-card {
    border: 1px rgba(0, 0, 0, 1.0) solid;
    margin: 5px 10px;
    min-height: 50px;
    border-radius: 5px;
    position: relative;
    list-style: none;
    padding: 0px;
}

.todo-space {
    display: flex;
    flex-direction: column;
}

.habit-space {
    display: flex;
    flex-direction: column;
}

.container-card-label {
    position: absolute;
    top: -12px;
    left: 5px;
    background-color: white;
    padding: 0px 5px;
}
.container-card:first-child {
    margin-top: 20px;
}

.item {
    border: 1px rgba(0, 0, 0, 0.1) solid;
}
